* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/pexels-stephan-seeber-1261728.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.check {
    background-color: transparent;
    border: 3px solid gray;
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    margin-left: 35rem;
    margin-top: 8rem;
    transform: rotate(45deg);
}

.clock-face {
    color: transparent;
    border: 3px solid gray;
    border-radius: 50%;
    width: 23rem;
    height: 23rem;
    margin-top: 1rem;
    margin-left: .9rem;
    position: relative;
    transform: rotate(45deg);
}

.clock-face .hour-hand,
.clock-face .min-hand,
.clock-face .second-hand {
    position: absolute;
    background-origin: 50% 100%;
    background-color: gray;
    transform: rotate(0deg);
    transition: transform 0.5s linear;
    /* It will maintain the stick at the center */
    transform-origin: 100%;
    top: 12rem;
    right: 11rem;
}

.clock-face .hour-hand {
    width: 8rem;
    height: .5rem;
    border-radius: 2rem;
    transform: rotate(0deg);
}

.clock-face .min-hand {
    width: 10.2rem;
    height: .5rem;
    border-radius: 2rem;
    transform: rotate(0deg);
}

.clock-face .second-hand {
    width: 10.2rem;
    height: .5rem;
    border-radius: 2rem;
    transform: rotate(0deg);
}